<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NP_UNIP.Properties.Settings.pimConnectionString" connectionString="Data Source=DESKTOP-2TQKSC7\SQLEXPRESS;Initial Catalog=pim;User ID=sa;Password=1q2w3e4r"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>